body{
    height: 1000px;
}
.scroll-component {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 50%;
    margin-left: 9rem;
    margin-top: 5rem;
    background-color: rgba(19, 50, 19, 0.265);
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: 9rem;
    margin-top: 5rem;
    padding: 1rem;
    transition: opacity 0.5s ease-in-out;
  }
  
  .scroll-component.show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .component-heading {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    z-index: 1;
  }
  
  .component-content {
    color: rgb(142, 158, 142);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 2;
  }
  .icon{
    color:rgb(171, 5, 5);
    margin-right: 1rem;
  }
  .css{
    color: rgb(84, 84, 84);
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .html{
    color: rgb(84, 84, 84);
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .js{
    color: rgb(84, 84, 84);
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .bootstrap{
    color: rgb(84, 84, 84);
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .nodejs{
    color: rgb(84, 84, 84);
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .sql{
    color: rgb(84, 84, 84);
    font-size: 2.2rem;
    margin-left: 1rem;
  }
  .mongo{
    color: rgb(84, 84, 84);
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .neo4j{
    color: rgb(84, 84, 84);
    font-size: 1.5rem;
    margin-left: 1rem;
  }