body {
    height: 100%;
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/Ta9spU.jpg); 
    animation: starsAnimation 5s linear infinite;
    
  }
  
  .hero-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 5rem;
    margin-bottom: 1rem;
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
  
  .name {
    font-weight: 700;
    margin-left: 1rem;
    color: rgb(75, 145, 75);
  }
  
  .hero-subtitle {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
  
  .bracet {
    color: rgb(171, 5, 5);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-weight: 800;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  @keyframes starsAnimation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }