#myStats{
    width: 18rem;
    height: 4rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 3rem;
    left: 3rem;
}

#myStats h1{
    margin: 0;
    font-size: 2rem;
    width: 28rem;
}

#myStats h2{
    margin: 0;
    font-size: 1rem;
    margin-top: 1rem;
}

#myStats__lines{
    display: flex;
    align-items: center;
}

#myStats_lines_thick{
    display: block;
    background-color: white;
    height:0.2rem;
    width: 10.75rem;
}

#myStats_lines_thin{
    display: block;
    background-color: lightgray;
    height:0.1112rem;
    width: 6.3rem;
}

@media(max-width:1100px){
    #myStats{
        left: 50%;
        transform: translateX(-50%);
        width: 10rem;
        height: 2.5rem;
        top: 2rem;
    }
    #myStats h1{
        font-size: 1rem;
    }
    #myStats h2{
        font-size: 0.8rem;
        width: 13rem;
        margin-top:0.7rem;
    }
    #myStats h3{
        font-size: 0.7rem;
    }
    #myStats p{
        font-size: 0.7rem;
    }
}