body{
    height: 100%;
}
.scroll-component-projects {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 50%;
    background-color: rgba(19, 50, 19, 0.265);
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: 35rem;
    margin-top: 5rem;
    padding: 1rem;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  
  .scroll-component-projects.show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .component-heading-projects {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .component-content-projects {
    color: rgb(142, 158, 142);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 2;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }
  .project{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-decoration: none;
    margin-left:3rem ;
    color: rgb(142, 158, 142);;
  }
  .Tawsila-img{
    height: 20vh;
    width: 20vw;
  }
  .Google-img{
    height: 20vh;
    width: 20vw;
  }
  
  .main-icon{
    font-size: 15rem;
    color: rgb(19, 50, 19);
    border-radius: 50%;
    position: absolute;
    margin-right: 55rem ;
    opacity: 0.5;
  }